<po-page-default p-title="Nova Toalha Personalizada" class="page-toalha">

  <div class="po-row">
    <div class="po-sm-6">
      <form [formGroup]="formToalha">
        <po-input class="po-md-12" formControlName="nome" p-label="Nome"
          p-help="Dê um nome maneiro para a sua toalha personalizada">
        </po-input>

        <po-combo class="po-md-6" formControlName="tamanho" p-label="Tamanho"
          p-help="Escolha o tamanho ideal pra curtição" [p-options]="tamanhos" p-clean>
        </po-combo>

        <po-combo class="po-md-6" formControlName="cor" p-label="Cor" p-help="Escolha uma cor que combine com você"
          [p-options]="cores" p-clean>
        </po-combo>

        <po-combo class="po-md-6" formControlName="material" p-label="Material"
          p-help="O material é importante na hora de absorver líquidos ;)" [p-options]="materiais" p-clean>
        </po-combo>

        <po-combo class="po-md-6" formControlName="peso" p-label="Peso"
          p-help="A gramatura da toalha define sua qualidade" [p-options]="pesos" p-clean>
        </po-combo>

        <po-combo class="po-md-12" formControlName="estampa" p-label="Estampa" p-help="Estampas só para nerds kkk"
          [p-options]="estampas" p-clean>
        </po-combo>

        <po-button class="po-mt-3 po-md-12 po-lg-6 po-offset-lg-6 po-xl-6 po-offset-xl-6" (p-click)="onSave()"
          [p-disabled]="!formToalha.valid" p-label="Salvar" [p-loading]="isLoadingSend" p-type="primary">
        </po-button>

      </form>
    </div>

    <div class="po-offset-lg-2 po-offset-md-1 po-offset-sm-1 po-lg-4 po-md-5 po-sm-5">
      <div class="toalha"
        [ngClass]="{branco: formToalha.value.cor === 'Branco', marrom: formToalha.value.cor === 'Marrom', vermelho: formToalha.value.cor === 'Vermelho', verde: formToalha.value.cor === 'Verde',preto: formToalha.value.cor === 'Preto', azul: formToalha.value.cor === 'Azul'}">
        <img *ngIf="formToalha.value.estampa === 'Batman'" class="estampa" style="width: 100px;height: 100px;"
          src="assets/images/batman.png">
        <img *ngIf="formToalha.value.estampa === 'Darth Vader'" class="estampa" style="width: 100px;height: 100px;"
          src="assets/images/darthvader.png">
        <img *ngIf="formToalha.value.estampa === 'Einstein'" class="estampa" style="width: 100px;height: 100px;"
          src="assets/images/einstein.png">
        <img *ngIf="formToalha.value.estampa === 'Goku'" class="estampa" style="width: 100px;height: 140px;"
          src="assets/images/goku.png">
        <img *ngIf="formToalha.value.estampa === 'Scooby'" class="estampa" style="width: 100px;height: 150px;"
          src="assets/images/scooby.png">
      </div>
    </div>
  </div>
</po-page-default>